.wrap-product {
  width: 100vw;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 318px);
  align-items: start;
  justify-content: space-evenly;
  justify-items: center;
}

.card {
  margin-bottom: 20px;
  margin-top: 40px;
  background: transparent !important;
}

.card-body {
  background-color: #222222;
  border: none;
  border-radius: 0 0px 20px 20px;
  height: 163px;
}

.card-title {
  font-weight: 600;
  background-image: linear-gradient(120deg, #97fc79 0%, #398643 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent !important;
}

.card-text {
  color: white;
  font-weight: 200;
  font-size: 12px;
}

.btn-details {
  background-image: linear-gradient(120deg, #97fc79 0%, #398643 100%);
  border-radius: 50px;
  padding: 7px 15px;
  color: white;
  font-weight: 400;
}

.btn-details {
  color: white;
}
